.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.buttonContainer button {
  flex-grow: 1;
}
.imgContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.deleteIcon {
  height: 32px;
  position: absolute;
  right: 20px;
}
