.CollectionDetailsPage {
  min-height: 300px;
  width: 60%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px 20px 30px 20px;
  background: linear-gradient(120deg, #4d365d, #56118a, #823db3);
  box-shadow: 0 0 20px 10px #2f024f;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

@media (max-width: 600px) {
  .CollectionDetailsPage {
    width: 100%;
  }
}

.collectionContainer {
  display: flex;
  justify-content: center;
}

.collectionImg {
  max-width: 100%;
}

.moreIcon {
  position: absolute;
  right: 40px;
  top: 25px;
}

.icon {
  height: 32px;
  transition: 0.5s ease;
  filter: brightness(0) invert(1); /* робимо зображення білим */
}
