.button {
  min-width: 100px;
  padding: 15px;
  height: 50px;
  border-radius: 8px;
  font-size: large;
  overflow: hidden;
  border: none;
  color: white;
  cursor: pointer;
  border: 1px solid black;

  background: linear-gradient(120deg, #401162, #56118a, #1f0234);
  background-size: 200% 100%;
  transition: background-position 1.5s ease, box-shadow 0.4s ease;
}

.button.glowing:hover {
  background-position: 100% 0; /* рухаємо градієнт */
  box-shadow: 0 0 20px 10px #632093;
  border: 2px solid black;
}

.button.decline {
  background: linear-gradient(to right, red, rgb(134, 109, 192), red);
  background-size: 200% 100%;
}

.button.decline:hover {
  background-position: 100% 0;
  box-shadow: 0 0 20px 10px #932044;
}

.button.accept {
  background: linear-gradient(
    to right,
    rgb(19, 165, 46),
    rgb(60, 126, 86),
    rgb(19, 165, 46)
  );
  background-size: 200% 100%;
}

.button.accept:hover {
  background-position: 100% 0;
  box-shadow: 0 0 20px 10px #2d9342;
}
