.collectionCardItem {
  border: 2px solid var(--primary-color);
  background: linear-gradient(90deg, #5d17de, #6e54aa, #6d28dc);
  background-size: 200% 100%; /* для анімації руху градієнта */
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--shadow-color);
  color: white;
  transition: background-position 0.5s ease, transform 0.3s ease;
  height: 200px;
  display: flex;
  gap: 20px;
}

.collectionCardItem:hover {
  background-position: 100% 0; /* рухаємо градієнт */
  transform: scale(1.05); /* легке збільшення */
}

.collectionCardItem img {
  border-radius: 10px;
  max-width: 45%;
  object-fit: cover; /* зберігає пропорції, обрізає по краях */
}

.collectionContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}
