.CollectionView {
  min-height: 200px;
  margin: auto;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px 40px 30px 40px;
  background: linear-gradient(120deg, #4d365d, #56118a, #823db3);
  box-shadow: 0 0 20px 10px #2f024f;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.collectionContainer {
  display: flex;
  justify-content: center;
}

.collectionImg {
  max-width: 500px;
}

.moreIcon {
  position: absolute;
  right: 40px;
}

.icon {
  height: 32px;
  transition: 0.5s ease;
  filter: brightness(0) invert(1); /* робимо зображення білим */
}
