.definitionInputButton {
  display: flex;
  gap: 10px;
}

.deleteDefinitionButton {
  background: transparent;
  border: none;
}

.deleteDefinitionButton .icon {
  margin: 5px;
  filter: invert(1);
}

.definitionInputButton > :first-child {
  flex-grow: 1;
}

.defenitionInputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Term {
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid white;
  background-color: var(--primary-color);
  box-shadow: 0 5px 10px var(--shadow-color);
  border: 1px solid black;
  border-radius: 15px;

  background-color: var(--primary-color);
  background-size: 200% 100%;
  background-position: 0% 0%;
  transition: 0.5s ease;
}

.Term form {
  width: 100%;
}

.Term:hover {
  box-shadow: 0 0 20px 10px #632093;
  background-position: 100% 0%; /* перелив при наведенні */
  scale: 1.05;
}

.TermWordContainer {
  border-right: 1px solid white;
  padding: 15px;
  min-width: 80px;
}

.TermDefinitionsContainer {
  margin: 0;
  padding: 0;
  padding: 15px;
  flex-grow: 1;
}

.Definition {
  padding: 15px;
  border-bottom: 1px solid white;
}

.buttonContainer button {
  background: transparent;
  border: none;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Списки (випадаючий список термінів та визначень)*/

ul.termList {
  list-style: none;
  padding: 0;
}

ul.termList li {
  padding: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 2px var(--shadow-color);
  background: linear-gradient(
    90deg,
    rgba(146, 32, 227, 0.9),
    /* фіолетовий з прозорістю 0.6 */ rgba(62, 15, 164, 0.6),
    /* темно-фіолетовий з прозорістю 0.6 */ rgba(131, 53, 187, 0.6)
  );

  background-size: 200% 100%;
  background-position: 0% 0%;
  transition: 1s ease, box-shadow 0.3s ease;
}

ul.termList li:hover {
  box-shadow: 0 0 20px 10px #8335bb;
  background-position: 100% 0%; /* перелив при наведенні */
  font-size: larger;
}
